CollectData/tase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="option">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="id" type="xs:unsignedInt" />
              <xs:element name="leverage" type="xs:unsignedByte" />
              <xs:element name="exercise_price" type="xs:unsignedShort" />
              <xs:element name="expiration" type="xs:date" />
              <xs:element name="delta" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>